[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tox = "*"
ipython = "*"
jupyter = "*"
pytest = "*"
pytest-cov = "*"
flake8 = "*"
mpy = "*"
mkdocs = "*"
pydocstyle = "*"
markdown-include = "*"

[packages]

[requires]
python_version = "3.7"
